#workshop-stats {
  position: absolute;
  right: 0;
  top: 120px;
  width: 15%;
  padding: 25px;
  text-align: right;
  background: black;
  z-index: 0;
  margin-right: 8px;
}

.stat-title {
  text-transform: uppercase;
  color: grey;
  font-weight: bold;
  margin-bottom: 0;
}

.stat {
  color: #66c6ba;
  font-size: 3em;
  margin: 0 0 5px 0;
  line-height: 1;
}